* {box-sizing: border-box;}

header {background-image: linear-gradient(to top, #111111, #2f2f2f);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #444444;
	border-radius: 10px;
	height: 10%;
	width: 100%;
	margins: 0.2em;
	}
header h3 {padding: 0.25em;
	}
body {background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1em;
	background-size: 100%;
	}
main {margin-top: 10%;
	float: left;
	}
nav a {text-decoration: none;
        color: #ffffff;
	}
nav li:focus {background-image: linear-gradient(to top, #080808, #181818);
	border-radius: 10px; 
	background-size: cover;
	}
nav li:hover {background-image: linear-gradient(to top, #080808, #181818); 
	border-radius: 10px;
	background-size: cover;
	}
nav li {display: inline-block;
	padding: 0.25em;
	float: right;
	text-align: center;
	}
nav ul {list-style-type: none;
	top:0em;
	}
iframe {border: 0px;
	margin-top: 0px;
	overflow: auto;
	}
