* {box-sizing: border-box;}

header {background-image: linear-gradient(to top, #111111, #2f2f2f);
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #444444;
	border-radius: 10px;
	min-height: 15%;
	width: 100%;
	margins: 0.2em;
	}
header h3 {padding: 0.4em;
	}
body {background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1em;
	background-size: 100%;
	}
main {margin-top: 5%;
	}
nav a {text-decoration: none;
        color: #ffffff;
	float: right;
	padding: 0.5em;
	margin-top: 0%;
	text-align:center;
	}
nav li:focus {background-image: linear-gradient(to top, #080808, #181818);
	border-radius: 10px; 
	background-size: cover;
	}
nav li:hover {background-image: linear-gradient(to top, #080808, #181818); 
	border-radius: 10px;
	background-size: cover;
	}
nav li {display: inline;
	top: 0%;
	margin-right: 2em;
	}
nav ul {list-style-type: none;
	}
