@font-face {font-family: Mplus;
	src: url('/font/m+/Mplus1-Bold.ttf') format('truetype'),
	url('/font/m+/Mplus1-Bold.otf') format('opentype'),
	url('/font/m+/Mplus1-Bold.woff') format('woff');
		}
* {box-sizing: border-box;}	
header {background-image: linear-gradient(to top, #111111, #2f2f2f);
	background-repeat: no-repeat;
	background-size: 100%, 10%;
	background-color: #444444;
	border-radius: 15px;
	
	}
header, main, nav, footer, section, article, figure, figcaption, aside {display: block;}
body {background-color: #000000; 
	color: #ffffff;
	font-family: Mplus, sans-serif;
	background-size: auto;	
	}
nav a {text-decoration: none;
        color: #ffffff;
	float: right;
	white-space: nowrap;
	padding: 10px}
nav a:focus {background-image: linear-gradient(to top, #080808, #181818); border-radius: 7px;}
nav a:hover {background-image: linear-gradient(to top, #080808, #181818); border-radius: 7px;}
nav a:active {background-color: #ffffff; color: #000000}
nav li {display: inline;}
nav ul {list-style-type: none;}
iframe {border: 0px;
	overflow: auto;}
