@font-face {font-family: Mplus;
		src: url('/font/m+/Mplus1-Bold.ttf') format('truetype'),
		     url('/font/m+/Mplus1-Bold.otf') format('opentype'),
		     url('/font/m+/Mplus1-Bold.woff') format('woff');
		}
body {background-color: #000000; 
	color: #ffffff;
	font-family: Mplus, sans-serif;
	}
nav {text-decoration: none;}
