* {box-sizing: border-box;}

.webbar {background-size: cover;
	background-color: #444444;
	border-radius: 10px;
	min-height: 15%;
	width: 100%;
	margins: 0.2em;
	display: inline-box;
	}
header h3 {padding: 0.5em;
	display: inline-block;
	}
body {background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1em;
	background-size: 100%;
	}
main {margin-top: 5%;
	}
nav {display: inline-block;
	}
nav a {text-decoration: none;
        color: #ffffff;
	}
nav li:focus {background-color: #080808; 
	background-size: cover;
	border-radius: 10px;
	}
nav li:hover {background-color: #080808;
	background-size: cover;
	border-radius: 10px;
	}
nav li {display: inline-block;
	margin-right: 1em;
	text-align: center;
	float: right;
	padding: 0.5em;
	margin-top: 0em;
	}
nav ul {list-style-type: none;
	}
#sknv {font-size: 0.3em;
	margin-top: 0em;
	padding: 0em;
	display: inline;
	}
