body{background:#000;
	color:#fff;
	font:1em monospace
	}
main{margin-top:3%}

#navbar{background:#333;
	width:100%;
	overflow:hidden;
	border-radius:5px
	}
#navbar h3{margin:.5em;
	display:inline-block
	}
#nav ul{list-style:none}

#nav li{display:inline;
	margin:0em auto .5em;
	padding:.3em;
	float:right
	}
#nav li:hover{background:#9c3;
	border-radius:5px
	}
#nav a{text-decoration:none;
	color:#fff;
	text-align:center
	}
#sknv{font-size:.5em;
	display:inline;
	float:right}
