* {box-sizing: border-box;}

header {background-image: linear-gradient(to top, #111111, #2f2f2f);
	background-repeat: no-repeat;
	background-size: 100%, 10%;
	background-color: #444444;
	border-radius: 10px;
	position: fixed;
	height: auto;
	min-height:10%
	max-height:17%;
	width: 98.25%;
	top:3em;
	}
header h3 {padding: 3em;
	float: left;}

body {background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 1em;
	background-size: 100%;
	}
main {margin-top:17%}

nav a {text-decoration: none;
        color: #ffffff;
	float: right;}
nav a:focus {background-image: linear-gradient(to top, #080808, #181818); border-radius: 10px;}

nav a:hover {background-image: linear-gradient(to top, #080808, #181818); border-radius: 10px;}

nav li {display: inline-block;
	white-space: nowrap;
	padding: 0.5em;
	text-align: center;}

nav ul {list-style-type: none;}

iframe {border: 0px;
	overflow: auto;}
