@font-face{font-family: 'M+';
		src: url('/font/m+/Mplus1-Bold.ttf') format('truetype'),
		     url('/font/m+/Mplus1-Bold.otf') format('opentype'),
		     url('/font/m+/Mplus1-Bold.woff') format('woff');
		}
body{background_color: #000000; 
      color: #ffffff;
	font-face: 'M+'
	}
