* {box-sizing: border-box;}

@media only screen and (max-width: 720px)

header {background-image: linear-gradient(to top, #111111, #2f2f2f);
	background-repeat: no-repeat;
	background-size: 100%, 10%;
	background-color: #444444;
	border-radius: 10px;
	position: fixed;
	height: auto;
	max-height: 30%;
	width: auto;
	}
header h3 {padding: 10px;
	float: left;}

body {background-color: #000000;
	color: #ffffff;
	font-family: sans-serif;
	background-size: 100%;
	}
main {top: 15%;}

nav a {text-decoration: none;
        color: #ffffff;
	padding: 10px;
	float: right;}
nav a:focus {background-image: linear-gradient(to top, #080808, #181818); border-radius: 10px;}

nav a:hover {background-image: linear-gradient(to top, #080808, #181818); border-radius: 10px;}

nav li {display: inline;
	white-space: nowrap;}

nav ul {list-style-type: none;}

iframe {border: 0px;
	overflow: auto;}
